.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .container input,
  .container textarea,
  .container select {
    padding: 18px;
    background-color: transparent;
    color: black;
    border-radius: 5px;
    border-width: solid;
    border-color: black;
  }
  
  .container button {
    padding: 20px;
    cursor: pointer;
    background-color: var(--btn);
    border: none;
    border-radius: 5px;
    color: var(--textColor);
    font-weight: bold;
  }