.container{
    display: flex;
    align-items: center;
    justify-content: center;
}  

.wrapper{
    width: 500px;
    background-color: white;
    padding: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    border-radius: 5px;
    border-width: solid;
    border-color: black;
}

.text {
    text-align: start;
    font-family: var(--font-subtitle);
}

.text p {
    color: rgb(82, 82, 82);
    font-size: 15px;
}
